body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
  font-family: "Montserrat";
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 2.5rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5rem;
  color: black;
  font-weight: 700;
  padding-bottom: 2%;
}

#title {
  background-color: #ff4c68;
  /* background-color: #28abb9; */
  color: #fff;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  font-size: 1.5rem;
  padding-left: 0;
  margin-bottom: 2.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Montserrat";
  padding-left: 0;
}

.row {
  margin-top: 0%;
}

.nav-link {
  margin-left: 2.5rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 55%;
  transform: rotate(15deg);
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  right: 18%;
}

#features {
  padding: 5% 15%;
  background-color: white;
  z-index: 1;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1%;
}

.features-box {
  padding: 7%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ff4c68;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  color: white;
}

#press {
  padding-bottom: 3%;
  text-align: center;
  background-color: #ff4c68;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 5% 17%;
}

#pricing {
  padding: 100px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5rem;
  padding: 5% 0;
  color: black;
  font-weight: 700;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
}

/* .download-btn-cta {
  margin: 3% 2% 3% 0;
} */

#footer {
  padding: 3% 15%;
}

.footer-icons {
  font-size: 1.5rem;
  margin: 20px 10px;
}
